.item {
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
}

.item:hover {
    color: #3A62F0;
}

.item.active {
    color: white;
    background-color: #3A62F0;
}
