.top {
  height: 32px;
}

.title {
  font-size: 16px;
  line-height: 24px;
}

.viewItem {
  height: 38px;
  padding: 8px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.viewItem.active {
  background-color: #e0ebff;
  color: #3a62f0;
}

.customCollapse {
  border: none;
}
